configuration {
    modi: "drun";                  
    font: "CaskaydiaCove Nerd Font Propo 10";
    show-icons: true;
    display-drun: "";            
    drun-display-format: "{name}"; 
    icon-theme: "Tela-circle-dracula";
    drun-match-fields: "name,generic,exec,keywords"; 
    matching: "fuzzy";
}

@theme "theme.rasi"
