@import "mocha.css";


* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 10px;
    min-height: 10px;
}

window#waybar {
    background: rgb(31, 32, 44);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

tooltip {
    background: @crust;
    color: @blue;
    border-radius: 7px;
    border-width: 0px;
}

#window{
    color: @yellow;
    padding-left: 10px;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    color: @yellow;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    background: @yellow;
    color: @crust;
    margin-left: 3px;
    margin-right: 3px;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button:hover {
    background: @pink;
    color: @crust;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#tray menu * {
    min-height: 16px
}

#tray menu separator {
    min-height: 10px
}

.modules-left {
    background: @crust;
    margin: 4px 0px 4px 5px;
    padding: 0px 13px 0px 5px;
    border-radius: 15px;
    border: 0px solid rgba(0, 0, 0, .6);
}

#cpu {
    padding-left: 5px;
    color: @mauve;
}

#memory {
    padding-left: 10px;
    color: @maroon;
}

#custom-updates {
    padding-left: 10px;	
    color: @peach;
}

.modules-center {
    background: @crust;
    margin: 4px 4px 4px 4px;
    padding: 4px 10px 4px 10px;
    border-radius: 15px;
    border: 0px solid rgba(0, 0, 0, 0.6);
}

#network, #bluetooth {
    color: #a6e3a1;
    background: @crust; 
    margin: 4px 2px;
    padding: 0.2rem 0.2rem;
}

#network {
    border-radius: 15px 0px 0px 15px;
    margin-right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

#bluetooth {
    border-radius: 0px 15px 15px 0px;
    margin-left: 0;
    padding-right: 1.2rem;
}

#backlight, #pulseaudio, #clock, #language {
    color: @teal;
    background: @crust; 
    margin: 4px 1px;
    padding: 0.2rem 0.2rem;
}

#backlight {
    border-radius: 15px 0px 0px 15px;
    margin-right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

#pulseaudio {
    margin-left: 0;
    margin-right: 0;
    padding-right: 1rem;
}

#clock {
    border-radius: 0px 15px 15px 0px;
    margin-left: 0;
    padding-right: 1.2rem;
}


#battery, #custom-power {
    color: @lavender; 
    background: @crust; 
    margin: 4px 2px;
    padding: 0.2rem 0.2rem;
}

#battery {
    border-radius: 15px 0px 0px 15px;
    margin-right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

#custom-power {
    border-radius: 0px 15px 15px 0px;
    margin-left: 0;
    margin-right: 5px;
    padding-right: 1.2rem;
}

#tray {
    padding-left: 5px;
    padding-right: 5px;
    color: #89dceb;
}


#custom-cava,
#custom-cpuinfo,
#custom-github_hyde,
#custom-gpuinfo,
#custom-hyprsunset,
#idle_inhibitor,
#mpris,
#custom-notifications,
#privacy,
#custom-sensorsinfo,
#custom-spotify,
#taskbar,
#custom-theme,
#custom-wallchange,
#custom-wbar,
#custom-weather {
    color: @crust;
    background: #cdd6f4;
    opacity: 1;
    margin: 4px 0px 4px 0px;
    padding-left: 4px;
    padding-right: 4px;
}


