* {
    border: none;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-weight: bold;
    font-size: 11px;
    min-width: 20px;
    min-height: 20px;
}

window#waybar {
    background: rgba(67, 67, 67, 0.6); 
    border: 0px;
    border-radius: 16px;
    border: 1.3px solid rgba(138, 138, 138, 0.5);
    box-shadow: 0px 41px 22px rgba(1, 1, 1, 1);
}

tooltip {
    background: rgba(42, 42, 42, 0.3); 
    color: #FFFFFF; 
    border-width: 0px;
}

#window {
    color: #FFFFFF;
    padding-left: 10px;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 1px;
    color: #F0F0F0;
    background: rgba(0, 0, 0, 0); 
    border: 1px solid rgba(158, 158, 158, 0.6);
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    background: rgba(108, 108, 108, 0.3); 
    color: #F0F0F0;
    border: 1px solid rgba(253, 250, 246, 0.6);
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button:hover {
    background: rgba(108, 108, 108, 0.3); 
    color: #F0F0F0;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#tray menu * {
    min-height: 16px;
}

#tray menu separator {
    min-height: 0px;
}

.modules-left {
    background: rgba(255, 255, 255, 0.1); 
    margin: 3px 0px 3px 3px;
    padding: 0px 5px 0px 5px;
    border-radius: 16px;
    border: 1px solid rgba(138, 138, 138, 0.2);
}

#cpu {
    padding-left: 4px;
    color: #F0F0F0;
}

#memory {
    padding-left: 10px;
    color: #F0F0F0;
}

#custom-updates {
    padding-left: 10px;	
    color: #F0F0F0;
}

.modules-center {
    background: rgba(255, 255, 255, 0.1); 
    margin: 3px 0px 3px 0px;
    padding: 1px 10px 1px 2px;
    border-radius: 16px;
    border: 1px solid rgba(138, 138, 138, 0.2);
}

#network, #bluetooth {
    color: #F0F0F0;
    background: rgba(255, 255, 255, 0.1);
    margin: 3px 2px;
    padding: 0.1rem 0.1rem;
    border: 1px solid rgba(138, 138, 138, 0.2);
    border-radius: 16px;
}

#network {
    border-radius: 16px 0px 0px 15px;
    margin-right: 0;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border-right: none;
}

#bluetooth {
    border-radius: 0px 15px 15px 0px;
    margin-left: 0;
    padding-right: 0.5rem;
    border-left: none;
}

#backlight, #pulseaudio, #clock, #language {
    background: rgba(255, 255, 255, 0.1);
    margin: 3px 1px;
    padding: 0.1rem 0.1rem;
    border: 1px solid rgba(138, 138, 138, 0.2);
}

#backlight {
    border-radius: 16px 0px 0px 15px;
    margin-right: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #F0F0F0;
    border-right: none;
}

#pulseaudio {
    margin-left: 0;
    margin-right: 0;
    padding-right: 1rem;
    color: #F0F0F0;
    border-right: none;
    border-left: none;
}

#clock {
    border-radius: 0px 15px 15px 0px;
    margin-left: 0;
    padding-right: 0.6rem;
    color: #F0F0F0;
    border-left: none;
}

#battery, #custom-power {
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    margin: 3px 2px;
    padding: 0.1rem 0.1rem;
    border: 1px solid rgba(138, 138, 138, 0.2);
}

#battery {
    border-radius: 16px 0px 0px 15px;
    margin-right: 0;
    padding-left: 0.6rem;
    padding-right: 0.4rem;
    border-right: none;
}

#custom-power {
    border-radius: 0px 15px 15px 0px;
    margin-left: 0;
    margin-right: 3px;
    padding-right: 0.5rem;
    border-left: none;
}

#tray {
    padding-left: 5px;
    color: #F0F0F0;
}
