[SddmGreeterTheme]
Name=Mountain Theme
Description=Theme for SDDM with lots of mountains
Type=sddm-theme
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=mountain
Theme-API=2.11
